<main>
    <section>
        <h2>{{ 'groups.YOURGROUPS' | translate }}</h2>
        <button (click)="showCreateGroupToggle()">{{ 'groups.CREATENEWGROUP' | translate }}</button>
        <div class="grid">
            @for (group of groupList; track $index) {   
                <img [src]="groupIconSet(group)" alt="Icon" class="icon grid-item">
                <h2 class="grid-item">{{ group.name }}</h2>
                <button class="grid-item" (click)="showUserToggle($index)">{{'groups.SHOWUSERS' | translate}}</button>
                <button class="grid-item" (click)="showGroupEditToggle($index)">{{'groups.EDITGROUP' | translate}}</button>
                <button class="grid-item" (click)="deleteGroup(group.id, $event)">{{'groups.DELETEGROUP' | translate}}</button>
            }
        </div>
    </section>
</main> 

@if (userListModal) {
    <main class="edditingForm editForm">
        <div class="container">
            <h2>{{'groups.USERS' | translate}}</h2>
            <div class="userGrid">
                @for (user of usedGroup.expand.users; track $index) {
                    <img [src]="getUserAvatar(user)" alt="user avatar">
                    <div class="userGrid-item">{{user.name}}</div>
                    <button class="userGrid-item" (click)="removeFromGroup(usedGroup, $index)">{{ 'groups.REMOVEUSERFROMGROUP' | translate }}</button>                    
                }
           </div>
        </div>
       <form>
            <h2>{{'groups.ADDUSER' | translate}}</h2>
            <article class="formSubtext">
                <label for="addUserEmail">{{'groups.EMAIL' | translate}}</label>
                <input type="email" id="addUserEmail" [(ngModel)]="addUserEmail" name="user email">
            </article>
            <article class="formSubtext">
                <label for="addUserName">{{'groups.NAME' | translate}}</label>
                <input type="text" id="addUserName" [(ngModel)]="addUserName" name="addusername">
            </article>
            <button (click)="addToGroup($event)">{{'groups.ADDUSERTOGROUP' | translate}}</button>
        </form>
       <button (click)="showUserToggle(0)">{{'groups.CLOSE' | translate}}</button>
    </main>
}

@if (editGroupForm) {
    <main class="editForm">
        <form>
            <article class="formSubtext">
                <label for="editGroupName">{{'groups.EDITGROUPNAME' | translate}}</label>
                <input type="text" id="editGroupName" [(ngModel)]="groupEditName" name="name edit">
            </article>
            <article class="formSubtext">
                <label for="editGroupIcon">{{'groups.EDITGROUPICON' | translate}}</label>
                <input type="file" id="editGroupIcon" (change)="onFileSelected($event)" name="icon edit">
            </article>
            <button type="submit" (click)="updateGroup(usedGroup, groupEditName, groupEditIcon, usedGroup.users)">{{'EDITGROUPCONFIRM' | translate}}</button>
        </form>
        <button (click)="showGroupEditToggle(0)">{{'groups.CLOSE' | translate}}</button>
    </main>
}    

@if (createGroupForm) {
    <main class="editForm" style="flex-direction: row;">
        <form>
            <article class="formSubtext">
                <label for="groupName">{{'groups.GROUPNAME' | translate}}</label>
                <input type="text" id="groupName" [(ngModel)]="groupName" name="group name">
            </article>
            <article class="formSubtext">   
                <label for="groupIcon">{{ 'groups.GROUPICON' | translate }}</label>
                <input type="file" id="groupIcon" (change)="onFileSelected($event)" name="group icon">
            </article>
            <button (click)="createNewGroup($event)">{{'groups.CONFIRMCREATION' | translate}}</button>
        </form>
        <form>
            <h4>{{'groups.ADDNEWUSER' | translate}}</h4>
            <article class="formSubtext">
                <label for="userEmail">{{ 'groups.EMAIL' | translate }}</label>
                <input type="email" id="userEmail" [(ngModel)]="userEmail" name="email">
            </article>
            <article class="formSubtext">
                <label for="userName">{{ 'groups.NAME' | translate }}</label>
                <input type="text" id="userName" [(ngModel)]="userName" name="username"> 
            </article>
            <button (click)="getSpecificUser($event)">{{'groups.ADDUSER' | translate}}</button>
            <h4>{{'groups.EMAILHASTOBEVISIBLE' | translate}}</h4>
        </form>
        <div class="container">
            <h4>{{'groups.ADDEDUSERS' | translate}}</h4>
            <article class="userGrid grid">
                    <div class="userGrid-item"></div>
                    <div class="userGrid-item">{{'groups.NAME' | translate}}</div>
                    <div class="userGrid-item">{{'groups.EMAIL' | translate}}</div>
                @for (user of userList; track $index) {
                    <img class="icon userGrid-item" [src]="getUserAvatar(user)" alt="user avatar">
                    <div class="userGrid-item">{{ user.name }}</div>
                    <div class="userGrid-item">{{ user.email }}</div>
                }
            </article>
        </div>
        <button (click)="showCreateGroupToggle()">{{ 'groups.CLOSE' | translate }}</button>
    </main>
}


