<main>
    <nav>
        <button (click)="tabSelector('assisted')">{{'wordsetcreator.CREATIONASSIST' | translate}}</button>
        <button (click)="tabSelector('manual')">{{'wordsetcreator.MANUALCREATION' | translate}}</button>
        <p>{{'wordsetcreator.PLACEHOLDER' | translate}}</p>
    </nav>

    <div>
        @switch (tab) {
            @case ('assisted') {
                <section>

                    <h2>{{'wordsetcreator.ASSISTEDCREATING' | translate}}</h2>

                    <section class="list">
                        <article><div>{{'wordsetcreator.QUESTIONTYPE' | translate}}</div><div>{{'wordsetcreator.QUESTIONVALUEONE' | translate}}</div><div>{{'wordsetcreator.QUESTIONVALUETWO' | translate}}</div></article>
                        @for (question of assistedCreatorContent; track $index) {
                            <article>
                                <div>{{question.type}}</div>
                                <div>{{question.valueOne}}</div>
                                <div>{{question.valueTwo}}</div>
                                <button (click)="deleteQuestion($index)">{{'wordsetcreator.DELETEFROMWORDLIST' | translate}}</button>
                            </article>
                        }
                    </section>

                    <article>
                        <select name="type" id="questionType" [(ngModel)]="newQuestionType">
                            <option value="translate">{{'wordsetcreator.TRANSALTION' | translate}}</option>
                            <option value="fillIn">{{'wordsetcreator.FILLIN' | translate}}</option>
                        </select>
                        <input type="text" name="field 1" id="fieldOne" placeholder="{{'wordsetcreator.PLACEFORSENTENCEORWORD' | translate}}" [(ngModel)]="newQuestionValueOne">
                        <input type="text" name="filed 2" id="fieldTwo" placeholder="{{'wordsetcreator.PLACEFORSENTENCE' | translate}}" [(ngModel)]="newQuestionValueTwo">
                        <button (click)="addNewQuestionAssist()">{{'wordsetcreator.ADDNEWWORD' | translate}}</button>
                    </article>

                </section>
            }
            @case ('manual') {            
                <section>

                    <h2>{{'wordsetcreator.MANUALWRITING' | translate}}</h2>

                    <textarea name="manual writing" id="manualWriter" [(ngModel)]="manualEditorText"></textarea>

                    <button (click)="addnewQuestionManual()">{{'wordsetcreator.SAVE' | translate}}</button>
                </section>
            }
        }
    </div>

    <button (click)="closeWindow()">{{'wordsetcreator.CLOSE' | translate}}</button>
</main>