.correctInput {
    color: var(--correct-answer-color);
}

.incorrectInput {
    color: var(--incorrect-answer-color);
}

.danger-button {
    background-color: var(--danger-button-background);
    color: var(--danger-button-text);
}

.danger-button:hover {
    background-color: var(--danger-button-hover);
}