main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--body-background-color);
}

section {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: var(--main-background-color);
    border-radius: 4vh;
    padding: 2.5vh;
    box-shadow: 0 0 1vh 0.5vh var(--main-box-shadow-color);
    min-height: 70vh;
    max-height: 70vh;
    margin-top: 10vh;
    width: 90vw;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    gap: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
}

.grid-item {
    padding: 2vh 3vh;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

section h2{
    font-size: 5vh;
    font-weight: 500;
    color: #333;
    background-color: #f5f5f5;
    border-radius: 1vh;
}

button {
    background-color: var(--button-background-color);
    color: var(--button-color);
    border: none;
    border-radius: 1vh;
    padding: 0.5vh 1vh;
    font-size: 2vh;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-background-color-hover);
}

input, select {
    border: 1px solid var(--input-border-color);
    border-radius: 1vh;
    padding: 0.5vh 1vh;
    font-size: 2vh;
}

.icon {
    width: 10vh;
    height: 10vh;
    object-fit: contain;
}

.editForm {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    position: absolute;
    top: 10%;
    left: 8%;
    background-color: whitesmoke;
    border-radius: 1vh;
    padding: 2vh;
    box-shadow: 0 0 1vh 0.5vh var(--main-box-shadow-color);
    max-height: 80vh;
    width: 80vw;
}

.formSubtext {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    background-color: #d7d1d1;
    border-radius: 6px;
    padding: 4px;
}

.editForm form {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}