main {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.closeButton {
    z-index: 4;
    position: absolute;
    left: 2%;
    bottom: 2%;
}