<main>

    <section class="modifier">
        <h2>{{'wordsets.YOURWORDSETS' | translate}}</h2>
        @for (wordset of userWordsets; track $index) {
            <div><img [src]="getWordsetIcon(wordset)" alt="Icon"> - {{ wordset.name }} - {{ wordset.language}} - <button (click)="setEditWordlist($index)">{{'wordsets.EDITWORDLIST' | translate}}</button> - <button (click)="userAccessEdit($index)">{{'wordsets.EDITACCESS' | translate}}</button><button (click)="deleteWordset($event, wordset.id)">{{'wordsets.DELETEWORDSET' | translate}}</button></div>
        }
    </section>
    
    <section>
        <h2>{{'wordsets.CREATENEWWORDSET' | translate}}</h2>
        <article>
            <label for="wordsetName">{{ 'wordsets.NEWWORDSETNAME' | translate }}</label>
            <input type="text" name="create name" id="wordsetName" [(ngModel)]="wordsetName">
        </article>
        <article>
            <label for="wordsetIcon">{{ 'wordsets.NEWWORDSETICON' | translate }}</label>
            <input type="file" name="create icon" id="wordsetIcon" (change)="onFileSelected($event)">
        </article>
        <article>
            <label for="wordsetLanguage">{{ 'wordsets.NEWORDSETLANGUAGE' | translate }}</label>
            <input type="text" name="create language" id="wordsetLanguage" [(ngModel)]="wordsetLanguage">
        </article>
        <button (click)="createNewWordset($event)">{{'wordsets.CONFIMRWORDSETCREATION'| translate}}</button>
    </section>

    <section>
        <h2>{{'wordsets.EDITWORDSETS' | translate}}</h2>
        <select name="chose wordset" id="selectWORDSET" [(ngModel)]="chosenWordset">
            @for (wordset of userWordsets; track $index) {
                <option [value]="$index">{{wordset.name}}</option>
            }
        </select>
        <article>
            <label for="editWordsetName">{{'wordsets.EDITWORDSETNAME' | translate}}</label>
            <input type="text" name="edit name" id="editWordsetName" [(ngModel)]="wordsetEditName">
        </article>
        <article>
            <label for="editWordsetIcon">{{'wordsets.EDITWORDSETICON' | translate}}</label>
            <input type="file" name="edit icon" id="editWordsetIcon" (change)="onFileSelected($event)">
        </article>
        <article>
            <label for="editWordsetLanguage">{{'wordsets.EDITWORDSETLANGUAGE' | translate }}</label>
            <input type="text" name="edit language" id="editWordsetLanguage" [(ngModel)]="wordsetEditLanguage">
        </article>
        <button (click)="updateWordset($event)">{{'wordsets.CONFIRMWORDSETEDIT' | translate}}</button>
    </section>
</main>

@if (wordlistEditForm) {
    <app-wordsetcreator [wordset]="userWordsets[wordlistEdit]" (componentClose)="handleAppClose($event)"></app-wordsetcreator>
}

@if (userAccessForm) {
    <app-useraccess [wordset]="userWordsets[userAccess]" (componentClose)="handleAppClose($event)"></app-useraccess>
}