<main>

   <section>
        <h2>{{'USERACCESS' | translate}}</h2>
        <div>
            <article>
                <div>{{'USEREMAIL' | translate}}</div>
                <div>{{'USERNAME' | translate}}</div>
                <div>{{'REVOKEFROMUSER' | translate}}</div>
            </article>
            @for (access of userAccessList; track $index) {
            <article>
                <div>{{ access.expand.userId.email }}</div>
                <div>{{ access.expand.userId.name }}</div>
                <button (click)="revokeUserAccess(access.id, $event)">{{'REVOKEACCESS' | translate}}</button>
            </article>
            }
        </div>
        <div>
            <article>
                <label for="userEmail">{{'USEREMAIL' | translate}}</label>
                <input type="email" name="user email" id="userEmail" [(ngModel)]="userEmail">
            </article>
            <article>
                <label for="userName">{{'USERNAME' | translate}}</label>
                <input type="text" name="user name" id="userName" [(ngModel)]="userName">
            </article>
            <button (click)="grantUserAccess($event)">{{'GRANTACCESS' | translate}}</button>
        </div>
    </section> 

    <section>
        <h2>{{'GROUPACCESS' | translate}}</h2>
        <div>
            <article>
                
            </article>
            @for (access of groupAccessList; track $index) {
                <article>
                    <div>{{access.expand.groupId.name}}</div>
                    <button (click)="revokeGroupAccess($event, access.i)">{{'REVOKEGROUPACCESS' |  translate}}</button>
                </article>
            }
        </div>
        <div>
            <article>
                <label for="groupName">{{'GROUPNAME' | translate}}</label>
                <input type="text" name="name" id="groupName" [(ngModel)]="groupName">
            </article>
            <button (click)="grantGroupAccess($event)">{{'GRANTACCESS' | translate}}</button>
        </div>
    </section>

</main>
