<main>

   <section>
        <h2>{{'access.USERACCESS' | translate}}</h2>
        <div>
            <article>
                <div>{{'access.USEREMAIL' | translate}}</div>
                <div>{{'access.USERNAME' | translate}}</div>
                <div>{{'access.REVOKEFROMUSER' | translate}}</div>
            </article>
            @for (access of userAccessList; track $index) {
            <article>
                <div>{{ access.expand.userId.email }}</div>
                <div>{{ access.expand.userId.name }}</div>
                <button (click)="revokeUserAccess(access.id, $event)">{{'access.REVOKEFROMUSER' | translate}}</button>
            </article>
            }
        </div>
        <div>
            <article>
                <label for="userEmail">{{'access.USEREMAIL' | translate}}</label>
                <input type="email" name="user email" id="userEmail" [(ngModel)]="userEmail">
            </article>
            <article>
                <label for="userName">{{'access.USERNAME' | translate}}</label>
                <input type="text" name="user name" id="userName" [(ngModel)]="userName">
            </article>
            <button (click)="grantUserAccess($event)">{{'access.GRANTACCESS' | translate}}</button>
        </div>
    </section> 

    <section>
        <h2>{{'access.GROUPACCESS' | translate}}</h2>
        <div>
            @for (access of groupAccessList; track $index) {
                <article>
                    <div>{{access.expand.groupId.name}}</div>
                    <button (click)="revokeGroupAccess($event, access.i)">{{'access.REVOKEGROUPACCESS' |  translate}}</button>
                </article>
            }
        </div>
        <div>
            <article>
                <label for="groupName">{{'access.GROUPNAME' | translate}}</label>
                <input type="text" name="name" id="groupName" [(ngModel)]="groupName">
            </article>
            <button (click)="grantGroupAccess($event)">{{'access.GRANTACCESS' | translate}}</button>
        </div>
    </section>

    <button (click)="closeWindow()">{{'access.EXIT' | translate}}</button>
</main>
