* {
    font-family: "Mulish", serif;
}

.openButton {
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
    background: none;
}

.openButton:hover {
    cursor: pointer;
}

svg {
    object-fit: contain;
}

main {
    position: absolute;
    background-color: var(--settings-background-color);
    top: 2%;
    left: 1%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    
}

main h1 {
    background-color: var(--settings-header-background-color);
    margin: 0;
    padding: 2vh;
}

main .saveButton {
    width: 30vw;
}

nav {
    display: flex;
    gap: 1vw;
    margin-left: auto;
    margin-right: auto;
}

nav button {
    background-color: var(--settings-nav-button-color);
    border-color: var(--settings-nav-button-border-color);
    padding: 3vh;
}

nav button:hover {
    box-shadow: var(--settings-nav-button-hover-shadow);
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
}

article {
    margin-left: 10vh;
    display: flex;
    gap: 5px;
}